html,li,p{
    font-family: 'Amiri', serif ;
}

body {
    background-color: #5CDB94;
}
.navbar-light .navbar-brand{ 
    background-color:#379683;
    font-family: 'DotGothic16', sans-serif;
    font-weight: 200;
    font-size: 36px;
}
.navbar-expand-lg .navbar-nav {
    font-size: 25px;
    
}
a.nav-link:hover{
    transition:all 1s linear;
    border-bottom-color: chartreuse!important;
    border-bottom-style: dotted;
    border-bottom-width:1ex;

}
.wrapper1{
    margin:0 auto;
    max-width: 1024px;
}
.bg-light{ background-color:rgba(0,0,0,0)!important ;}
.justify{
    text-align: justify;
    text-justify: inter-word;
}
.footer{
    list-style-type: none;
    text-align: center;
    background-color: #379683;
    scroll-behavior: smooth;

}
.footer li{
    display: inline-block;
    margin: 0px 70px 0px 70px;
    color: #05386b;
    font-size: 36px;
    font-family: 'Amiri', serif;
    
}
h1{
   
   transition: font-size 1.5s 2.5s cubic-bezier(.17,.67,.83,.67), color ; 
}
#key{
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    animation: animation 3s ease-in 1s infinite alternate backwards;
}

@keyframes animation{
    0%,100%{
        background-color: chartreuse;
        left: 1%;
        top: 1%;
    }
    25%{
        top: 1%;
        left: 89%;
    }
    50%{
        top: 78%;
        right: 0.55%;
        background-color: pink;
    }
    75%{
        right: 89%;
        top: 78%;
       
    }
   
}

